
@media screen and (max-width: 400px){
    body{
        background-color: tan 
    }
}

@media screen and (max-width: 800px){
    body{
        background-color: lightblue
    }
}

@media screen and (max-width: 1200px){
    body{
        background-color: lightpink
    }
}
d